.option-row {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 2rem 1rem;
  margin: auto;
}
/* TODO: handle the look for smaller screen */

.option-row .option-card {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  margin: auto;
}
.option-row .option-card img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
